    {% extends "encyclopedia/layout.html" %}

    {% block title %}
        {{title}}
    {% endblock %}

    {%block body%}
    {% if file == None%}
        <div class="alert alert-warning" role="alert"> requested page was not found</div>
    {% else%}
        <div>{{ file |safe}}</div>
        <div>
            <form action="{% url 'edit' %}" method = "POST">
                {% csrf_token %}
                <input name="title"value="{{title}}" type="hidden">
                <input name="textarea" value="{{file}}" type="hidden">
                <input type="submit" value="edit">
            </form>
        </div>
    {% endif %}
    {%endblock%}